#textbanner {
    width: 100%;

    cursor: default;

    font-family: Verdana,Arial,sans-serif;
}

.textbanner-container {
    display: block;
    width: 100%;

    padding: 10px 5px;

    font-size: 25px;
}

.textbanner-container.pointer {
    cursor: pointer !important;
}

.textbanner-container p {
    margin: 0;
}